extends layout/layout.pug

block content
	div.View.WelcomeView
		h1.Banner SAP
			div.Message
			div.Title
				h3 Installing and configuring
				h1 Portal 7.5
			span.Details Access the SAP Team Portal
		div.NavButtons
			a(href="/user")
				div.NavButton Just dive in!