extends layout/layout.pug

block content
	h1.Banner Test
	div.row
		div.col-sm-6.col-md-4.col-md-offset-4
			p
				| A quick and dirty site showing how you can use Express, Pug and Bootstrap to write flat site content.
		div.col-sm-6.col-md-4.col-md-offset-4
			p
				| A quick and dirty site showing how you can use Express, Pug and Bootstrap to write flat site content.
		div.col-sm-6.col-md-4.col-md-offset-4
			p
				| A quick and dirty site showing how you can use Express, Pug and Bootstrap to write flat site content.